@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gridder-collapse {
  display: grid;

  /* Default layout for smaller screens */
  grid-template-areas:
    "nav nav"
    "main main"; /* Remove sidebar from the grid */

  grid-template-columns: 1fr; /* Single column layout */
  grid-template-rows: 64px 1fr; /* Header and main content */

  /* Media query for larger screens */
  @media (min-width: 768px) {
    grid-template-areas:
      "nav nav"
      "sidebar main";

    grid-template-columns: 100px 1fr; /* Sidebar and main content */
    grid-template-rows: 64px 1fr; /* Header and remaining content */
  }
}

.gridder-expand {
  display: grid;

  /* Default layout for smaller screens */
  grid-template-areas:
    "nav nav"
    "sidebar main";

  grid-template-columns: 250px 1fr; /* Expanded sidebar and main content */
  grid-template-rows: 60px 1fr; /* Header and remaining content */

  /* Media query for smaller screens */
  @media (max-width: 767px) {
    grid-template-areas:
      "nav nav"
      "main main"; /* Remove sidebar from the grid */

    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: 64px 1fr; /* Header and main content */
  }
}



.gridder-collapse ::-webkit-scrollbar {
  width: 0em;
  /* width: 10px; */
}

.main-nav {
  grid-area: nav;
  align-self: start;
  position: fixed;
  top: 0;
  z-index: 5;
}

.main-side {
  grid-area: sidebar;
  position: fixed;
  align-self: start;
  top: 0;
  left: 0;
  height: 100%;
}

.main-content {
  grid-area: main;
}
.main-nav.blue {
  background-color: blue;
}


