@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gridder-collapse {
  display: grid;

  /* Method 1 */
  grid-template-areas:
    "nav nav"
    "sidebar main";

  /* Method 2 */
  grid-template-columns: 90px 1fr;
  grid-template-rows: 64px 1fr;
  transition: 1s;
}
.gridder-expand {
  display: grid;

  /* Method 1 */
  grid-template-areas:
    "nav nav"
    "sidebar main";

  /* Method 2 */
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  transition: 1s;
}

.gridder-collapse ::-webkit-scrollbar {
  width: 0em;
  /* width: 10px; */
}

.main-nav {
  grid-area: nav;
  align-self: start;
  position: fixed;
  top: 0;
  z-index: 5;
  
  transition: 1s;
}

.main-side {
  grid-area: sidebar;
  position: fixed;
  align-self: start;
  top: 0;
  left: 0;
  height: 100%;
  transition: 1s;
}

.main-side div a {
  transition: 1s;
}

.main-content {
  grid-area: main;
  transition: 1s;
}
.main-nav.blue {
  background-color: blue;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .gridder-collapse {
    grid-template-areas:
      "nav nav"
      "main main";
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
  }

  
}
